/* Misc */
@import './misc/variables';
@import './misc/normalize';
@import './misc/mixin';


@import './partials/header';
@import './partials/hambuerger';
@import './partials/footer';

@import './views/home';
@import './views/nosotros';
@import './views/Servicio';
@import './views/box';
@import './views/contacto';


@import './misc/mediaqueries';




