/*index*/

#section{
    background-image: url(../Img/fondo.jpg);
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
   

    .title__logo{
        padding-left: 10px;
        max-width: 100%;
        padding-top: 50px;
    }

    .Sub{
        color: $base;
        text-align: center;
        font-size: 40px;
        opacity: 80%;
        height: 100px;
        margin: 1em;
        max-width: 100%;   
    }

 
    .div__rookie{
        margin: 1em;
        padding-top: 1em;
        max-width: 100%;
        width: 350px;
        height: 320px;
        border: 2px solid black;    
        background: $primary;
        opacity: 65%;
    }

    .div__buildup{
        margin: 1em;
        padding-top: 1em;
        max-width: 100%;
        width: 350px;
        height: 320px;
        border: 2px solid black;    
        background: $primary;
        opacity: 65%;
 
    }

    .div__pro{
        margin: 1em;
        padding-top: 1em;
        max-width: 100%;
        width: 350px;
        height: 320px;
        border: 2px solid black;    
        background: $primary;
        opacity: 65%;
 
}

.h2{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    color: $base;
    font-weight: bolder;
    font-size: 40px;
}

    .p1{ 
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        text-align: center;
        font-family: $font-principal;
        color: $base;
        font-weight: bolder;
        font-size: 14px;  
    }

    .icon {
        position: relative;
        bottom: 4%;
        left: 40%;
        transition: width 2s, background-color 3s;  
            border: rgba(255, 255, 255, 0) solid 2px;
    }

    .icon img:hover{
        background: $secundary;
        border-radius: 10px 100px / 120px;
        width: 50px;
        transition: width 2s, background-color 1s;  
    }

}